@using HOA.Model
@using HOA.Model.ViewModel
@model EditUserViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password.</h2>
<p>
    Please check your email to reset your password.
</p>
