@using HOA.Model
@using HOA.Model.ViewModel
@model ForgotPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Forgot Password";
}


@using (Html.BeginForm("Account", "ForgotPassword", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    <h3>Forgot Password?</h3>


    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Please fix the listed errors and try submitting again.

            @Html.ValidationSummary()
        </div>
    }

    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label col-xs-3">
            @Html.LabelFor(model => model.Email)
        </label>
        <div class="col-xs-9">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @maxlength = "64" })
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary" />
}