@using System.Linq
@using HOA.Model.ViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Manage users";
}


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Submissions</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Role</th>
                <th>Locked</th>
                <th>Action</th>
            </tr>
        </thead>

    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.FullName</td>
            <td>@user.Roles[0]</td>
            <td>@user.LockoutEnabled</td>
            <td>action</td>
        </tr>
    }



    </table>
</div>
