@using System.Security.Claims


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Applecross HOA";
    ViewBag.Section = "Backup";
}

<h3>Backup Options</h3>
<br />

<a href="/Backup/Import">Import</a><br />
<br />
<a href="/Backup/Export">Export</a><br />

<br />