@using HOA.Model.ViewModel
@model StatusViewModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Status";
}

<h3>Lookup submission status</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()<br />

    @Html.LabelFor(model => model.Code)<br />
    @Html.TextBoxFor(model => model.Code)<br />

    <br />
    <br />
    <input type="submit" value="Lookup" class="btn btn-info" />

}