@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Submitted";
}

<br />
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Success!</strong></h3>
    </div>
    <div class="panel-body">
        <p>Your request has been submitted.</p>
        <p>Your code is "<strong>@Model.Code</strong>". Please save this information for your records. You can use this code to check the status of your submission.</p>
        <p>You will recieve an automated email with this information momentarily. If you don't recieve this email, please check your spam folder or contact Josh Rozzi at <a href="mailto:Josh.rozzi@fsresidential.com">Josh.rozzi@fsresidential.com</a></p>
    </div>
</div>
