@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Submitted";
}

<h2>Success!</h2>

Your request has been submitted.<br />
<br />

Your code is "@Model.Code". Use this code to check the status of your submission.