@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Not found";
}


<h2>Sorry, a submission with that code couldnt be found.</h2>