@model HOA.Model.ViewModel.DeleteAllViewModel

@{
    ViewBag.Title = "Delete Data";
    ViewBag.Section = "TestData";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Please fix the listed errors and try submitting again.

            @Html.ValidationSummary()
        </div>
    }
    
    <input type="submit" value="DELETE ALL" class="btn btn-danger" onclick="if (!confirm('Are you sure?')) return false;" />

}