@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Test";
    ViewBag.Section = "TestData";
}

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    WARNING: Data loss may occur
</div>

<ul>
    <li><a href="/Test/DeleteAll/">Delete All</a></li>

    <li><a href="/Test/CreateRandom/">Populate random</a></li>

    <li><a href="/Test/CreateSample/">Create Sample</a></li>
</ul>