<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a href="/">Home</a>
    <div>
        @await Html.PartialAsync("_LoginPartial")
    </div>
    <hr />

    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
