@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <form action="/Account/LogOff" method="post" id="logoutForm">
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                Hello @User.GetUserName()!
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Account/Login">Log in</a></li>
    </ul>
}
