@model Exception
@using System.Security.Claims


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Error";
}

<h3>Error</h3>

<b>An error occured: @Model.ToString()</b>