@using System.Security.Claims


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Forms";
    ViewBag.Section = "Forms";
}

<h3>Forms</h3>


<ul>
    <li><a href="/assets/Applecross-RULES-11-29-16.pdf" target="_blank">Rules and Regulations</a></li>
    <li><a href="/assets/ArchitecturalRequestForm.docx" target="_blank">Architectural Request Form</a></li>
    <li><a href="/assets/IndemnificationForm.docx" target="_blank">Indemnification Form</a></li>
    <li><a href="/assets/ContractorAgreement.pdf" target="_blank">Contractor Agreement (2017)</a></li>
</ul>
<br />