@using System.Security.Claims


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
    ViewBag.Section = "Home";
}


<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>HOA Architectural Review</h1>
    <p>Welcome to the Applecross architectural review board (ARB) website. You can submit a new application for ARB approval, or check the status of an existing application currently under review.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="/Submission/Create" role="button">Submit an Application &raquo;</a>
    </p>
    <p>

        <a href="/Submission/LookupStatus">Check a previous submission’s status or upload missing information when requested by the ARB</a><br />
        <br />

    </p>
</div>