@using System.Security.Claims


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
}


<a href="/Submission/Create">Submit a review</a>
<br />

@if (User.Identity.IsAuthenticated)
{
    <a href="/Submission/List">Incoming reviews</a>
}
