@using System.Security.Claims


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
    ViewBag.Section = "Home";
}


<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>HOA Reviews</h1>
    <p>Welcome to the Applecross architectural review website. You can submit a new review for ARB approval, or check the sattus of an existing review.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="/Submission/Create" role="button">Submit a review &raquo;</a>
    </p>
    <p>

        <a href="/Submission/LookupStatus">Check a submission's status</a><br />
        <br />

    </p>
</div>