@using System.Security.Claims
@model HOA.Controllers.HomeIndexModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Applecross HOA";
    ViewBag.Section = "Home";
}


<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>HOA Architectural Review</h1>
    <img src="/assets/ApplecrossLogoClear.gif" />
    <p>Welcome to the Applecross architectural review board (ARB) website. You can submit a new application for ARB approval, or check the status of an existing application currently under review.</p>
    <p>Average turnaround time for the last 5 submissions: @Model.fiveDayTurnaround day(s)</p>
    <p>
        <a class="btn btn-lg btn-primary" href="/Submission/Create" role="button">Submit an Application &raquo;</a>
    </p>
    <p>

        <p>or</p>

        <a class="btn btn-lg btn-primary" href="/Submission/LookupStatus" role="button">Check Status &raquo;</a><br />


        <p>Check a previous submission’s status / upload missing information.</p>
        <br />
        <br />
        

    </p>
</div>